
    <div class="col-md-3">
        <h3 id="h3_maizhou"><a id="a_home" href="index.html">MaiZhou Yuan</a></h3>
        <ul id="index_ul">
            <li class="index_li"><a class="index_a" href="">Brief Introduction</a></li>

            <label id="nav_toggle_1" for="menu_checkbox_1" class="index_a">Ongoing Projects</label>
            <input id="menu_checkbox_1" type="checkbox">
            <li class="index_subli_1"><a class="index_suba_1" href="fromWhereICome.html">From Where I Come</a></li>
            <li class="index_subli_1"><a class="index_suba_1" href="">Plastic Contemporary</a></li>

            <label id="nav_toggle_2" for="menu_checkbox_2" class="index_a">Projects</label>
            <input id="menu_checkbox_2" type="checkbox">
            <li class="index_subli_2"><a class="index_suba_1" href="">Jiaqi</a></li>

            <li class="index_li"><a class="index_a" href="">CV/Bio</a></li>
            <li class="index_li"><a class="index_a" href="">Contact</a></li>

            <li id="index_ins" class="index_li"><a class="index_ins" href=""><img id="indexImage_ins" class="img-responsive" src="../static/images/ins.png" alt="..."></a></li>
        </ul>
    </div>
